registry=https://pkgs.dev.azure.com/msk-aust/_packaging/msk-aust/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/msk-aust/_packaging/msk-aust/npm/registry/:username=msk-aust
//pkgs.dev.azure.com/msk-aust/_packaging/msk-aust/npm/registry/:_password=ZngyaXVrcHdqZmNxZzJ5Nnh5dW1hcWR0bTJ3cHprMmtuazY3dnZpbXBlcmp4cG5kMmVyYQ==
//pkgs.dev.azure.com/msk-aust/_packaging/msk-aust/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/msk-aust/_packaging/msk-aust/npm/:username=msk-aust
//pkgs.dev.azure.com/msk-aust/_packaging/msk-aust/npm/:_password=ZngyaXVrcHdqZmNxZzJ5Nnh5dW1hcWR0bTJ3cHprMmtuazY3dnZpbXBlcmp4cG5kMmVyYQ==
//pkgs.dev.azure.com/msk-aust/_packaging/msk-aust/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
